.login-button-logo-container {
  background-color: white;
  border-radius: 50%;
  width: 1.7em;
  height: 1.7em;
  margin-right: 0.5em;
  display: flex;
  justify-content: center;
  align-items: center;

  .login-button-logo-svg {
    width: 65%;
  }
}
